.mapa {
    width: 300px;
    border-radius: 20px;
}

.form {
    width: 300px;

    &-pagina {
        width: 300px;
    }
}

.fab {
    font-size: 35px;
    margin: 0 15px 0 15px;
    color: rgb(225, 221, 221);
}


.contact {
    &-subtitles {
        font-weight: 700;
    }
}

$colors-rs: (
    facebook: rgb(14, 55, 236),
    whatsapp: rgb(27, 157, 79),
);

@each $rsocial, $hover-color in $colors-rs {
    .fa-#{$rsocial}:hover {
        color: $hover-color;
    }
}
