@mixin font_style($size,$weight){
    font-size: $size;
    font-weight: $weight;
}

.p {
    &-descripcion {
        &-productos {
            @include font_style(1.5rem, 500); 
            color: rgb(236, 232, 232);
        }
        &-seccionProductos{
            color: black;
        }
    }
    &-titulo {
        @include font_style(2rem, 500);
    }
    &-nosotros {
        max-width: 500px;
    }
}