@media (min-width: 1200px) {
    .contenedor {
        &-grid {
            &-productos {
                padding-top: 10px;
                padding-bottom: 10px;
                grid-template-areas:
                    "prod-1 prod-2 prod-3 prod-4"
                    "prod-1 prod-2 prod-3 prod-4"
                    "prod-1 prod-2 prod-3 prod-4"
                    "prod-1 prod-2 prod-3 prod-4";
            }
        }
    }

    .navBar {
        display: flex;
        justify-content: flex-end !important;
    }

    .nav {
        &-link {
            font-size: 1.3rem;
        }
    }

    .imagen {
        &_logo {
            width: 250px;
        }
    }

    a {
        &.nav {
            &-link {
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }

    .mi {
        &-carrousel {
            height: 600px;
        }
    }

    .form {
        &-pagina {
            width: 800px;
        }
    }

    .carrousel {
        &-caption {
            position: absolute;
            top: 20px;
            right: 15%;
            left: 15%;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            color: #fff;
            text-align: center;
        }
    }

    .contenedor {
        &-consulta {
            padding-left: 70px !important;
        }
        &-ubicacion {
            padding-right: 70px !important;
        }
    }
}
