@media (min-width: 578px) and (max-width: 767px) {
    .contenedor {
        &-descripcion {
            display: none;
        }
        &-consulta {
            padding: 20px 0 20px 0;
        }
    }

    .mapa {
        width: 350px;
    }

    .form {
        width: 350px;

        &-pagina {
            width: 200px;
        }
    }
}
