@media (max-width: 577px) {
    .contenedor {
        &-descripcion {
            display: none;
        }
        &-grid {
            &-productos {
                grid-template-areas:
                    "prod-1 prod-1 prod-1 prod-1"
                    "prod-2 prod-2 prod-2 prod-2"
                    "prod-3 prod-3 prod-3 prod-3"
                    "prod-4 prod-4 prod-4 prod-4";
            }
        }
        &-consulta {
            padding: 20px 0 20px 0;
        }
    }

    .form {
        width: 250px;

        &-pagina {
            width: 200px;
        }
    }
    .mapa {
        width: 250px;
    }
}
