.contenedor {
    &_nav {
        background-color: #171717;

        &_footer {
            background-color: #171717;
            padding: 20px 0 20px 0;
            border-top: 3px solid #938f8f67;
        }
    }

    &-grid-productos {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "prod-1 prod-1 prod-2 prod-2"
            "prod-1 prod-1 prod-2 prod-2"
            "prod-3 prod-3 prod-4 prod-4"
            "prod-3 prod-3 prod-4 prod-4";
        justify-items: center;
        gap: 20px;

    }

    &-descripcion {
        margin: 20px 0 20px 0;
    }
}