.btn {
    &-secondary {
        margin-top: 10px;
    }
    &-hover:hover {
        background-color: rgba(236, 232, 232, 0.77)  !important; 
        color: rgb(6, 6, 6);
        border-color: black;
    }
}
